@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Tamil:ital,wght@0,300;0,400;1,600&display=swap');

:root {
    --maindark: #000000;
    --lightdark: #222222;
    --brownBeer: #721f12;
    --lightBeer: #ef9f14;
}