<form class="container-xl col-12 col-md-4" id="sign-in">
    <div class="mb-3">
        <label for="identifiant" class="form-label">Identifiant</label>
        <input type="text" class="form-control" id="identifiant" aria-describedby="identifiantHelp">
        <div id="identifiantHelp" class="form-text">Un identifiant</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" aria-describedby="passwordHelp">
        <div id="passwordHelp" class="form-text">e.g. Garfield2020!</div>
    </div>
    <button type="submit" class="btn">Submit</button>
</form>